<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>CryptoARMtitle</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>application_language</string>
			<key>Title</key>
			<string>InterfaceLanguage</string>
			<key>Values</key>
			<array>
				<string>lng_rus</string>
				<string>lng_eng</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Russian</string>
				<string>English</string>
			</array>
			<key>DefaultValue</key>
			<string>lng_rus</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>extended_logging</string>
			<key>Title</key>
			<string>ExtendedLog</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>CopyrightCA</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
